*~
tex/RSS2017_PressPull_slides.aux
tex/RSS2017_PressPull_slides.fdb_latexmk
tex/RSS2017_PressPull_slides.fls
tex/RSS2017_PressPull_slides.log
tex/RSS2017_PressPull_slides.nav
tex/RSS2017_PressPull_slides.out
tex/RSS2017_PressPull_slides.pdf
tex/RSS2017_PressPull_slides.snm
tex/RSS2017_PressPull_slides.toc
tex/RSS2017_PressPull_slides.vrb
tex/RSS2017_PressPull.aux
tex/RSS2017_PressPull.bbl
tex/RSS2017_PressPull.blg
tex/RSS2017_PressPull.dvi
tex/RSS2017_PressPull.fdb_latexmk
tex/RSS2017_PressPull.fls
tex/RSS2017_PressPull.log
tex/RSS2017_PressPull.out
tex/RSS2017_PressPull.pdf
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
tex/RSS2017_ContactWorkshop.aux
tex/RSS2017_ContactWorkshop.bbl
tex/RSS2017_ContactWorkshop.blg
tex/RSS2017_ContactWorkshop.fdb_latexmk
tex/RSS2017_ContactWorkshop.fls
tex/RSS2017_ContactWorkshop.log
tex/RSS2017_ContactWorkshop.out
tex/RSS2017_ContactWorkshop.pdf
tex/auto/
tex/fig/
data/
